# This file contains tool versions for use with asdf
golang 1.19
nodejs 16.13.0
terraform 0.13.5
ruby 2.7.5
protoc 21.5
# Note: Versions in this block override the above. Be EXTREMELY
# CAREFUL with this. If you override a standard version you are
# reducing compatibility guarantees.
## <<Stencil::Block(toolver)>>
# The below tools are used by all repositories when using devbase
mage 1.14.0
golangci-lint 1.49.0
shellcheck 0.8.0
shfmt 3.4.2
## <</Stencil::Block>>
